
.letter-btn{
    background: none;
    height: 40px;
    width: 40px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-bottom: 3px solid #E1FF8C;
    font-family: 'Gruppo', sans-serif;
}

.letter-btn:hover{
    cursor: pointer;
    color: #89B807;
    border-color: #89B807;
}

.tipped-container{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.tipped-span{
    font-size: 20px;
    font-weight: bold;
    margin-right: 15px;
}

.tipped{
    letter-spacing: 5px;
    font-size: 20px;
}